{% extends "base.html"%} {% block title %}Welcome{% endblock %}
{% block content%}

<h1>Welcome to WWB</h1>

<h2>The worlds leading middleman between consumers and hackers</h2>

<h3>Are you tired of the comfort and freedom your wealth gives you? Well you are in luck, we at Worlds Worst Bank is commited to our
    mission of providing the opportunity of crippling finances to our clientelle.
</h3>

<p1>Transfer money between friends and clients conveniently and intantaneously up until you get hacked.</p1>

<p2>Experience the possibility of living in financial desperation and explore the opportunities it entails.</p2>

<h3>Just listen to previous clients:</h3>

<div class="paragraph">
    <ul class="list-group">
        
        <li class="list-group-item" style="color:black">After WWB lost all my money i finally understood what matters most to me in life 10/10
            - Karen Worschsmithz</li>
        <li class="list-group-item" style="color:black">Itte pappa mista alle pengå sine på WWB blei eg pusha t å bli goe i fodball, takk for karieren WWB 10/10
            - Erling Braut Haaland
        </li>
        <li class="list-group-item" style="color:black">Everyone should experience losing all their money and commit to temporary poverty 9/10 
            - Chuck Stalebread
        </li>
        <li class="list-group-item" style="color:black">It is nice to escape the regular safety measures of traditional banks 7/10
            - Elon Musk
        </li>
        <li class="list-group-item" style="color:black">I use WWB to route my alimony to my ex-wife, when the transaction gets hacked she has no
            legal recourse to retrieve the money. I love WWB 10/10 - Ryle Klevin
        </li>
    </ul>
</div>
{% endblock %}
